html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.header {
    top: 0;
    background-color: #0a043c;
}


nav {
    top: 0;
    width: 100%;
    background-color: #0a043c;
    overflow: hidden;
    position: fixed;
    display: flex;
}

.logo {
    padding: 10px 10px;
    margin-right: 25%;
}

h1{
    color: blanchedalmond;
    width: 105px;
    font-family: 'Times New Roman', Times, serif;
}

@media only screen and (max-width: 320px){
    .logo {
        padding: 10px 10px;
        margin-right: 15%;
    }
}

.topnav-right { 
    display: flex;
    flex-wrap: wrap;
    padding: auto;
}

.topnav-right a {
    width: 100px;
    font-family: sans-serif;
    font-weight: 700;
    color: #ffe3d8;
    text-align: center;
    padding: 40px 20px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 0%;
}

.topnav-right a:hover, a.active{
    width: 124px;
    background-color: #03506f;
    color: #bbbbbb;
    font-weight: 900;
    padding: 40px 8px;
    cursor: pointer;
}


#about_me #gif{
    float: left;
    width: 100%;
    height: 30rem;
    z-index: -99;
    top: 0;
    background-image: url("./image/coding.gif");   
    background-size: cover;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width:600px){
    #about_me #gif {
        height: 20rem;
    }
    
    .logo{
        margin-right: 0%;
    }

    .topnav-right a{
        padding: 20px;
    }

    .topnav-right a:hover, a:active{
        padding: 20px 10px;
    }
}





