body {
    margin: 0;
}

.header {
    top: 0;
    background-color: #0a043c;
}


.topnav {
    width: 100%;
    background-color: #0a043c;
    overflow: hidden;
    position: fixed;
    display: flex;
}

.logo {
    padding: 20px 10px;
    margin-right: 35%;
}

img {
    border-radius: 100%;
}

.topnav-right { 
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    padding: auto;
}

.topnav-right a {
    width: 100px;
    font-family: sans-serif;
    font-weight: 700;
    color: #ffe3d8;
    text-align: center;
    padding: 40px 20px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 0%;
}

.topnav-right a:hover, a.active{
    width: 124px;
    background-color: #03506f;
    color: #bbbbbb;
    font-weight: 900;
    padding: 40px 8px;
}






