.topnav {
    width: 100%;
    background-color: #0a043c;
    overflow: hidden;
    position: fixed;
    z-index: 2;
}

img {
    padding: 7px;
    float: left;
    border-radius: 10%;
}

.topnav a {
    font-family: sans-serif;
    font-weight: 700;
    color: #ffe3d8;
    float: right;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}

.topnav a:hover{
    background-color: #03506f;
    color: #bbbbbb;
}


